*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul,ol{
  list-style: none;

}
body{
  font-family: 'Be Vietnam Pro';
}
.canteiner{
  width:1110px ;
  margin-left: auto;
  margin-right: auto;
  
}
